.nav-container{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  font-family: 'Montserrat';
  font-weight: 500;
}

.nav-content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size:1em;
}

a:link, a:visited{
  text-decoration: none;
  color: #FFFFFF;
}

a:hover{
  color: #CCD8DE;
}

.centerPiece{
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./components/images/homeImage.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  box-shadow:  inset 0 0 0 1000px rgba(239, 255, 143, .2);
}

.homeText{
  height: 30vh;
  width: 40%;
  text-align: center;
  font-size: 1.5em;
  margin-top: 150px;
  font-family: 'Montserrat';
  font-weight:500;
}

.homeFunctions{
  margin-top: 200px;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #EAEAEA;
}

.homeSection{
  height: 300px;
  width: 200px;
  border: 1px solid blue;
  background-color: #FFFFFF;
}

.resume{
  height: 500px;
}

.homeContent{
  width: 100%;
  display:flex;
  margin-top: 100px;
  justify-content: space-around;
}


